.tab {
    float: left;
    width: 20%;
    
}
.tab button {
    display: block;
    border: none;
    padding: 22px 16px;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    font-size: 17px;
    width: 100%;
    background-color: inherit;
    cursor: pointer;
}
.tab button:hover {
    color: rgb(156, 42, 40);
}